.card-body {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}
.cardrow::-webkit-scrollbar {
  display: none;
}

.cardrow {
  overflowx: scroll;
  msoverflowstyle: none;
  width: 100%;
}
